{% extends 'base.html' %}

{% load static %}
{% block content %}
<form action="" method="POST" id="form">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-edit"></i> 
                {{ title }}
            </h3>
        </div>

        <div class="card-body">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% if form.errors %}
                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
                    <h5><i class="icon fas fa-ban"></i>Alert!</h5>
                    <ul>
                        {% for field in form %}
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <input type="hidden" name="action" value="edit">
            {% for field in form %}
            <div class="form-group">
                <label>{{field.label}}</label>
                {{field}}
            </div>
            {% endfor %}
        </div>
        <div class="card-footer">
            <button class="btn btn-primary" id="btn-test"><i class="fas fa-save"></i>
              Guardar registro
            </button>
        </div>
    </div> 
</form>
{% endblock content %}
