{% extends 'base.html' %}

{% load static %}

{% block head %}  
<link rel="stylesheet" href="{% static 'lib/datatables-1.10.24/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'lib/datatables-1.10.24/plugins/responsive-2.2.7/css/responsive.bootstrap4.min.css' %}">
{% endblock head %}



{% block content %}
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">
            <i class="fas fa-search"></i>
            {{ title }}
        </h3>
    </div>

    <div class="card-body">
        <table class="table" id="data">
            <thead>
                <tr>
                    <th scope="col" style="width: 10%;" >Nro</th>
                    <th scope="col" style="width: 20%;">Name</th>
                    <th scope="col" style="width: 50%;">Description</th>
                    <th scope="col" style="width: 20%;">Opciones</th>
                </tr>
            </thead>
                <tbody>
                        <!-- iterar con django 
                            {% for category in categories %}
                            <tr>
                                <td>{{ category.id }}</td>
                                <td>{{ category.name }}</td>
                                <td>
                                    <a href="{% url 'category_edit_view' category.id %}" type="button" class="btn btn-warning btn-xs"><i class="far fa-edit"></i></a>
                                    <a href="{% url 'category_delete_view' category.id %}" type="button" class="btn btn-danger btn-xs"><i class="fas fa-trash"></i></a>
                                </td>
                            </tr>
                            {% endfor %}

                        -->
                </tbody>
        </table>
    </div>
    <div class="card-footer">
        <a href="{% url 'category_create_view' %}" class="btn btn-primary" id="btn-test"><i class="fas fa-plus"></i>
          Nuevo registro
        </a>
    </div>
</div>

{% endblock content%}

{% block js%}
<script src="{% static 'lib/datatables-1.10.24/js/jquery.dataTables.js' %}"></script>
<script src="{% static 'lib/datatables-1.10.24/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'lib/datatables-1.10.24/plugins/responsive-2.2.7/js/dataTables.responsive.min.js' %}"></script>    
<script src="{% static 'lib/datatables-1.10.24/plugins/responsive-2.2.7/js/responsive.bootstrap4.min.js' %}"></script>

<script type="application/javascript">
    $(document).ready(function() {
        $('#data').DataTable({
            responsive:true,
            autoWidth: false,
            destroy:true,
            deferRender:true, 
            "language":{
                url:'{% static "lib/datatables-1.10.24/spanish.txt" %}'
            },
            ajax: {
                url:"{% url 'category_list_view' %}",
                type:"POST",
                data:{
                    "action":"list"
                },
                dataSrc:""
            },
            columns: [ //generro los datos de las columnas que tengo
            {"data":"id"},
            {"data":"name"},
            {"data":"description"},
            {"data":"description"},
            ],
            columnDefs:[ //edit la ultima columna para agregar botones
                {
                    targets: [3],
                    class: 'text-center',
                    ordenable:false,
                    render: function(data, type, row){ //puede rendear cualquier contenido que quiera a la columba que le diga en este caso los botones
                        let buttons = '<a href= "/erp/category/edit/'+row.id+'/" class="btn btn-warning btn-xs"><i class="far fa-edit"></i></a>';
                        buttons +='<a href="/erp/category/delete/'+row.id+'/" type="button" class="btn btn-danger btn-xs"><i class="fas fa-trash"></i></a>';
                        return buttons;
                    }
                },
            ],
            initComplete: function(settings, json){//cuando este completo la carga puedo agregar alguna accion para hacer
                //alert('cargado')
            }

        });
    });
</script>
{% endblock js %}
